header{
  display: flex;
  align-items: center;
  background-color: purple;
  box-shadow: 0 23px 27px -7px rgba(94,24,94,0.49);
}

.logo img{
  width: 100px;
  height: 70px;
}

nav{
  height: 100%;
  flex: 1;
}

nav a{
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 15pt;
}

nav a:hover{
  background-color: black;
}

nav a:last-child{
  float: right;
}
