<app-banner></app-banner>
<div class="table-container">
  <table class="product-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Group Training</td>
      <td>Training in a group setting</td>
      <td>$50</td>
      <td>
        <button>Order</button>
      </td>
    </tr>
    <tr>
      <td>Individual Training</td>
      <td>One-on-one personalized training</td>
      <td>$100</td>
      <td>
        <button>Order</button>
      </td>
    </tr>
    <tr>
      <td>Yearly Membership</td>
      <td>Access for one year</td>
      <td>$500</td>
      <td>
        <button>Order</button>
      </td>
    </tr>
    <tr>
      <td>Monthly Memberships</td>
      <td>Access for one month</td>
      <td>$50</td>
      <td>
        <button>Order</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
