<div class="banner">
  <mat-grid-list [cols]="gridListConfig.cols" [rowHeight]="gridListConfig.rowHeight">
    <mat-grid-tile
      *ngFor="let grid of gridListConfig.grids"
      [colspan]="grid.colspan"
      [rowspan]="grid.rowspan">
      <img [src]="grid.imagePath" alt="">
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="slider">
<!--  <gallery [items]="sliderConfig.images"-->
<!--           [autoPlay]="sliderConfig.autoPlay"-->
<!--           [imageSize]="sliderConfig.imageSize">-->
<!--  </gallery>-->
</div>
