<div class="banner">
  <mat-grid-list [cols]="gridListConfig.cols" [rowHeight]="gridListConfig.rowHeight">
    <mat-grid-tile
      *ngFor="let grid of gridListConfig.grids"
      [colspan]="grid.colspan"
      [rowspan]="grid.rowspan">
      <img [src]="grid.imagePath">
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="slider">
  <ng-image-slider
    [imageSize]="sliderConfig.imageSize"
    [images]="sliderConfig.images"
    [showArrow]="sliderConfig.showArrow"
    [slideImage]="sliderConfig.slideImage"
    [animationSpeed]="sliderConfig.animationSpeed"
    [autoSlide]="sliderConfig.autoSlide"
    [infinite]="sliderConfig.infinite"></ng-image-slider>
</div>
